body{
    margin: 0;
    padding: 0;
}

.menu{
    width: 100%;
    background: rgb(25, 25, 197);
}

.container{
   width: 90%;
   margin: auto;
}

nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li{
    line-height: 50px;
    min-width: 120px;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

nav ul li:hover{
    background-color: orange;
}

nav ul li ul{
    display: flex;
    flex-direction: column;
    display: none;
    position: absolute;
    background: rgb(25, 25, 197);
}

nav ul li:hover ul{
    display: block;
}