a:link{
    color:orange;
}
a:visited{
color:red;
}
a:hover{
    color:green;
}
a:active{
    color:pink;
}
.true::after{
    content: "i) True";
    color: green;
}
.false::before{
    content:"ii) False";
    color: red;
}
p::first-letter{
    text-decoration:overline;
    font-size: 250px;
    color:red;
}
p::selection, textarea::selection{
     color:black;
     background-color: white;
}