.form-container{
    margin:20px;
    padding:15px;
    background:#173459;
    color:white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 7px 21px 0 rgba(0,0,0,0.20);
}
.input.cnt{
    display: flex;
    margin-bottom: 15px;
}
.input-cnt:last-child{
    margin-bottom: 0px;
}
.input-cnt i{
    min-width:40px;
    padding:10px;
    text-align: center;
    background: lightgrey;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color:#0076ff;
}
.input-cnt:hover i {
    background: #0076ff;
    color:white;
}
.input-cnt{
    outline:none;
    border:none;
    padding:10px;
    border:1px solid lightgrey;
    border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    width:100%;
}